<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Players Salary Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style>  
body{
   background-image:url('https://wallpapercave.com/wp/knnrUOr.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
  background-color: rgb(243, 245, 233);
  
}

</style>
  
</head>

<body>
  <center>
 <div class="login">
	

    <p style="font-family: Arial, Helvetica, sans-serif; color: rgba(8, 64, 167, 0.842); font-size: 45px;" >Predict Football Player's Anual Salary</p>
    <form>  
	<input type="text" name="name" placeholder="player's name" id="search" required="required" />
	<input type="button" id="click" value="Search!" />
</form>
	    <br/>
	    <br/>
	 <input type="text" name="trophy" placeholder="trophies won" required="required" />
	    <br/>
	    <br/>
	 <form action="{{ url_for('predict')}}"method="post">
	    
    	<input type="text" name="age" placeholder="player age" required="required" />
	    <br/>
	    <br/>
        <input type="text" name="goals" placeholder="goals scored" required="required" />
	    <br/>
	    <br/>
		<input type="text" name="matches" placeholder="matches played" required="required" />
	    <br/>
	    <br/>
	   

        <button type="submit" class="btn btn-primary btn-block btn-large" onClick="pr()">Predict</button>
	    <br/>
	    
	    
    </form>
	 
	 <script>
		  document.getElementById('click').onclick=function(){
    var box=document.getElementById('search');
    window.open(href='http://www.google.com/search?q='+escape(box.value));}
          
        </script>

   <br/>
	 <p style="font-family: Arial, Helvetica, sans-serif; color: rgba(12, 43, 41, 0.801); font-size: 20px;" >player's annual salary should be</p> 
	 {{ prediction_text }}
	 

 </div>

</center>
</body>
</html>
